
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}
header {
    background-color: #25D366;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}
header nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#language {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    border-radius: 6px;
}
main {
    padding: 20px;
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.botao:hover {
    background-color: #128C7E;
}
.anuncio {
    background-color: #f1f1f1;
    border: 1px dashed #ccc;
    padding: 10px;
    margin: 15px 0;
    text-align: center;
    color: #555;
}
